# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terraform local plans
*.tfplan

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Frontend / Node
node_modules/
dist/
.vite/
.eslintcache
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example
