# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Frontend
node_modules/
dist/
.env
.env.local
